<div class="container form-container">
    <div class="wide-container form-content-wide">
        <div class="form-content">
            <div class="form-header">
                <div class="double-container">
                    <h2 class="form-title">Edit your information below</h2>
                    <h2 class="form-title">Avatar preview</h2>
                </div>
            </div>
            <div class="form-body">
                <div class="double-container">
                    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "flex-form", id: "edit-form" }) do |f| %>
                        <div class="form-inputs w-1/2 max-w-lg">
                            <div class="flex flex-wrap -mx-5">
                                <div class="w-full md:w-1/2 pl-4 pr-2 mb-6 md:mb-0">
                                    <%= f.input :first_name, required: false, class: "form-control appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white", input_html: { id: "first-name-edit", placeholder: "Jane" } %>
                                </div>
                                <div class="w-full md:w-1/2 pl-2 pr-4">
                                    <%= f.input :last_name, required: false, class: "form-control appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500", input_html: { id: "last-name-edit", placeholder: "Doe" } %>
                                </div>
                            </div>
                            <div class="flex flex-wrap -mx-5">
                                <div class="w-full px-4">
                                    <%= f.input :email, required: true, class: "form-control appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500", input_html: { id: "email-edit", placeholder: "jane.doe@gmail.com" } %>
                                </div>
                            </div>
                            <div class="flex flex-wrap -mx-5">
                                <div class="w-full md:w-1/2 pl-4 pr-2 mb-6 md:mb-0">
                                    <%= f.input :password, required: false, class: "form-control appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500", input_html: { autocomplete: "new-password", id: "new-password-edit", placeholder: "•••••••••••••••••••••" } %>
                                </div>
                                <div class="w-full md:w-1/2 pl-2 pr-4">
                                    <%= f.input :password_confirmation, required: false, class: "form-control appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500", label: "Confirm password", input_html: { autocomplete: "new-password", id: "password-confirmation-edit", placeholder: "•••••••••••••••••••••" } %>
                                </div>
                                <small id="new-password-label" class="form-text text-muted">Leave it blank if you don't want to change it</small>
                            </div>
                            <div class="flex flex-wrap -mx-5">
                                <div class="w-full px-4">
                                    <%= f.input :current_password, class: "form-control appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500", required: true, input_html: { autocomplete: "current-password" } %>
                                    <small id="current-password-label" class="form-text text-muted">We need your current password to confirm your changes</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-content form-avatar">
                            <div class="avatar-preview">
                                <img id="avatar-preview-image" src="<%= current_user.avatar.attached? ? rails_blob_path(current_user.avatar, only_path: true) : image_url("avatar.svg") %>" alt="User's current profile image">
                                <label id="avatar-preview-button" type="button" class="btn-seeql btn-seeql-lg upload-button">
                                    <span id="avatar-preview-button-text">
                                        Choose snazzy picture
                                    </span>
                                    <span style="display: none;">
                                        <%= f.input :avatar, as: :file, required: false, input_html: { id: "user-avatar" } %>
                                    </span>
                                </label>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
            <div class="form-footer">
                <div class="double-container">
                    <%= link_to :back do %>
                        <button id="back-button-edit" type="button" class="btn-seeql btn-seeql-lg btn-seeql-red">
                            Back
                        </button>
                    <% end %>
                    <button type="submit" form="edit-form" class="btn-seeql btn-seeql-lg">
                        Confirm
                    </button>
                </div>
            </div>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently awaiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
    </div>
    <div class="wide-container">
        <div class="form-content form-danger">
            <div class="form-header">
                <h2 class="form-title title-danger">Danger Zone</h2>
            </div>
            <div class="form-body">
                <p>
                    If you wish to delete your account, click the button below. We're sad to see you go! Here are a few things you should know:
                </p>
                <br>
                <ul>
                    <li>
                        Your personal data will be completeley deleted from our database in 30 days - you may reactivate your account within that time frame
                    </li>
                    <li>
                        Any projects that you own will be deleted in 30 days, so make sure to transfer ownership of any relevant projects to another collaborator
                    </li>
                    <li>
                        You will be removed as a collaborator from all projects - if you reactivate your account, you will need to be added back to the project by the owner
                    </li>
                    <li>
                        Once your data is deleted <strong>there will be no way to recover it</strong>
                    </li>
                </ul>
                <br>
                <p>
                    If you need any assistance or if you want your personal data to be deleted more quickly, feel free to <a href="mailto: support@seeql.dev" target="_blank">contact us</a>!
                </p>
            </div>
            <div class="form-footer">
                <%= link_to registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete do %>
                    <button id="back-button-edit" type="button" class="btn-seeql btn-seeql-lg btn-seeql-red">
                        Delete my account
                    </button>
                <% end %>
            </div>
        </div>
    </div>
</div>
