<% url = "/databases/#{database.id}/tables/#{table.id}/comments" %>
    <%= simple_form_for(:comment_proxy, url: url, method: :post, remote: true) do |f| %>
        <%= f.input :content %>
        <%= f.input :data_comment,:input_html => { :value => counter }, as: :hidden %>
        <%= f.input :table_id,:input_html => { :value => table.id }, as: :hidden %>
        <label class="btn btn-seeql" style="color: white !important">Add comment
          <span style="display: none"><%= f.submit 'Add comment' %></span>
        </label>
    <% end %>
