<body>
  <!-- Burger-Menu Icon -->
  <div class="burger-menu">
    <input type="checkbox" id="toggle">

    <label for="toggle" >
      <svg  viewbox="0 0 100 100" width="40px" height="40px">
        <circle cx="50" cy="50"></circle>
      </svg>
      <div class="cancel-lines" id="my-cancel-lines">
        <!-- <div class="center"></div> -->
        <% if current_user.avatar.attached? %>
          <%= cl_image_tag current_user.avatar.key, class: "avatar" %>
        <% else %>
          <%= image_tag("avatar.svg", class: "avatar") %>
        <% end %>
      </div>
    </label>
  </div>

  <!-- Sidebar Nav -->
  <div id="mySidenav" class="sidenav">
    <div>
      <% if current_user %>
        <a><%= link_to "Log out", '#', method: :delete, class: "border-bottom" %></a>
      <% else %>
        <a><%= link_to "Login", '#', class: "border-bottom" %></a>
      <% end %>

      <% if !current_user %>
        <a><%= link_to "Create account", '#', class: "border-bottom" %></a>
      <% end %>

      <a><%= link_to "Return item", '#', class: "border-bottom" %></a>
      <a><%= link_to "Register tag", '#', class: "border-bottom" %></a>
      <a><%= link_to "Home", root_path, class: "border-bottom" %></a>
    </div>
  </div>


  <script>
    let menu = document.querySelector( "#mySidenav" );
    let menuIcon = document.querySelector( "#my-cancel-lines" );
     let bodyBackground = document.querySelector( "#body" );
    menuIcon.addEventListener( "click",()=> {
      menu.classList.contains('open') ? menu.classList.remove('open') : menu.classList.add('open');
    });

  </script>

</body>

