<div class="column text-center <%= 'edit' if column.edit %>" data-comment-list="<%= counter %>">
<div class="comments-list" data-column-id="<%= column.id %>">
  <% unless column.comments.blank? %>
  <% column.comments.each do |comment| %>
  <div id="comments" class="column comment-content" data-comment-id="<%= comment.id %>">
    <p class="subheader"><strong><%= comment.user.name %>: </strong><%= comment.content %></p>
    <%= link_to comment_path(comment), method: :delete, remote: true do %>
    <i class="fa fa-trash" aria-hidden="true"></i>
    <% end %>
  </div>
  <% end %>
  <% end %>
  </div>
  <div class="comment-button text-right" data-commentbutton="<%= counter %>"><i class="fas fa-ellipsis-h"></i></i>
  </div>
  <div class="d-flex justify-content-between">
    <div class="column-comment column-name subheader"> <%= column.name %>
    </div>
    <div class="column-comment subheader"> <span class="hidden-text"><%= column.datatype %></span>
    </div>
  </div>
</div>
