<div class="lp-top">

<!-- BANNER -->
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('https://res.cloudinary.com/seeql/image/upload/v1585663675/Background_a0ecgr.png')">
    <div class="primary-container">
      <div class="banner-content">
        <%= image_tag "seeql_logo_name.png", class: "seeql_logo" %>

        <div class="banner-slogan">
          <h1>Quick and easy <div id="typing" class="typing"></div></h1>
        </div>

        <h5>Start your project and invite your team now!</h5>
        <%= link_to new_project_path do %>
          <button class="btn-treehouse"> Create your Project </button>
        <% end %>

        <p><i class="fas fa-cogs"></i> How it works</p>
        <div id="arrow-down">
          <a href="#how-it-works">
            <%= image_tag "chevron-down-solid.svg", alt: "alttext" %>
          </a>
        </div>
      </div>
    </div>
  </div>

<!-- HOW-IT-WORKS-SECTION -->
    <section id="how-it-works">

      <div class="primary-container">
          <div class="how-it-works-path">
            <div class="text-step-1">
              <h3>1. Sign Up</h3>
              <p>Sign up at SeeQL. Welcome! 👋</p>
            </div>
            <div class="img-step-1">
              <%= image_tag('how-it-works-step-1.png') %>
            </div>
          </div>

          <div class="dotted-lines">
            <%= image_tag('dotted-line-2.svg') %>
          </div>

          <div class="how-it-works-path">
            <div class="img-step-2">
              <%= image_tag('how-it-works-step-2.png') %>
            </div>
            <div class="text-step-2">
              <h3>2. Create a project</h3>
              <p>Add collaborators to work with or simply create the project for yourself! 🦄</p>
            </div>
          </div>

          <div class="dotted-lines">
            <%= image_tag('dotted-line-1.svg') %>
          </div>

          <div class="how-it-works-path">
            <div class="text-step-3">
              <h3>3. Connect your DB</h3>
              <p>Connect your PostgreSQL DB by typing in the necessary credentials. ☁️</p>
            </div>
            <div class="img-step-3">
              <%= image_tag('how-it-works-step-3.png') %>
            </div>
          </div>


        <h1 style="text-align: center; padding-top: 6.5rem">DONE ✅</h1>

      </div>
    </section>

    <!-- ANIIMATED BENEFITS -->
    <section class="animated-benefits">
      <h1 class="section-header"><i class="fas fa-thumbs-up"></i> Your benefits</h1>
      <div class="primary-container">
        <div class="benefits-container">

          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <h3 class="title">Visualisation</h3>
                <div class="bar"></div>
                <div class="content">
                  <%= image_tag('visualisation.png') %>
                </div>
              </div>

              <div class="flip-card-back">
                <h3 class="title">Visualisation</h3>
                <div class="bar"></div>
                <div class="content">
                  <em><p>"Visualisation of database schemas is an essential process when starting a new project. <br><br>SeeQL provides a quick but profound visualisation of relational DBs and makes understanding them a walk in the park."</p></em>
                </div>
              </div>
            </div>
          </div>

            <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <h3 class="title">Collaboration</h3>
                <div class="bar"></div>
                <div class="content">
                  <%= image_tag('collaboration.png') %>
                </div>
              </div>

              <div class="flip-card-back">
                <h3 class="title">Collaboration</h3>
                <div class="bar"></div>
                <div class="content">
                  <em><p>"SeeQL makes visualising databases an art, because a picture says more than 1000 words. <br><br>As such, it helps improving clear and efficient communication among DB analysts and developer teams."</p></em>
                </div>
              </div>
            </div>
          </div>

            <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <h3 class="title">Navigation</h3>
                <div class="bar"></div>
                <div class="content">
                  <%= image_tag('navigation.png') %>
                </div>
              </div>

              <div class="flip-card-back">
                <h3 class="title">Navigation</h3>
                <div class="bar"></div>
                <div class="content">
                  <em><p>"Flexible and intuitive navigation in SeeQL enables easy filtering for those tables and columns that you really need. <br><br>Find and understand connections through highlighted table relations."</p></em>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<!-- YOUR-BENEFITS-SECTION -->
    <section id="your-benefits">
      <h1 class="section-header"><i class="fas fa-thumbs-up"></i> Your benefits</h1>
      <div class="container d-flex align-items-center" style="margin-top: 80px">
        <i class="fa fa-eye" aria-hidden="true" style="font-size: 150px"></i>
        <div class="text pl-3 ">
          <h2>Visualisation</h2>
          <p>Visualisation of database schemas is an essential process when starting a new project. SeeQL provides a quick but profound visualisation of relational DBs and makes understanding them a walk in the park.</p>
        </div>
      </div>

      <div class="container d-flex align-items-center" style="margin-top: 150px">
        <i class="fas fa-route" aria-hidden="true" style="font-size: 150px"></i>
        <div class="text pl-4 ">
          <h2>Navigation</h2>
          <p>Flexible and intuitive navigation in SeeQL enables easy filtering for those tables and columns that you really need. Find and understand connections through highlighted table relations.</p>
        </div>
      </div>

      <div class="container d-flex align-items-center" style="margin-top: 150px; margin-bottom: 50px">
        <i class="far fa-comment-dots" aria-hidden="true" style="font-size: 150px"></i>
        <div class="text pl-4 ">
          <h2>Communication</h2>
          <p>SeeQL makes visualisation of databases an art, because “a picture says more than 1000 words.” As such, it helps improving clear and efficient communication among DB analysts and developer teams.</p>
        </div>
      </div>
    </section>

</div>

<!-- TYPING-EFFECT -->
<script>
    var typeString = ['visualisation.  ', 'navigation.  ', 'collaboration.  '];
    var  i = 0;
    var count = 0
    var selectedText = '';
    var text = '';
    (function type() {
      if (count == typeString.length) {
        count = 0;
      }
      selectedText = typeString[count];
      text = selectedText.slice(0, ++i);
      document.getElementById('typing').innerHTML = text;
      if (text.length === selectedText.length) {
        count++;
        i = 0;
      }
      setTimeout(type, 200);
    }());

    function sleep(milliseconds) {
    var start = new Date().getTime();
    for (var i = 0; i < 1e7; i++) {
      if ((new Date().getTime() - start) > milliseconds){
        break;
        }
      }
    }
  </script>
