<% url = "/projects/#{project.id}/databases" %>


<%= simple_form_for(:new_database, url: url, method: :post) do |f| %>
    <div class="database-form" id="database-form">
        <%= f.input :name, label: "DB Nickname", placeholder: "DB nickname" %>
        <%= f.input :host, placeholder: "where is your DB hosted?" %>
        <%= f.input :db_name, label: "DB Name", placeholder: "the actual name of your DB" %>
        <%= f.input :user, placeholder: "the username that will connect" %>
        <%= f.input :password, as: :password, placeholder: "we promise we won't save it!" %>
        <%= f.input :project_id, :input_html => { :value => project.id }, as: :hidden %>
        <%= f.submit "Connect your Database now!", class: "btn-treehouse" %>
    </div>
<% end %>
