<% url = "/projects/#{project.id}/databases" %>


<%= simple_form_for(:new_database, url: url, method: :post) do |f| %>
    <div class="database-form" id="database-form">
        <%= f.input :name, label: "DB Nickname", placeholder: "DB nickname" %>
        <%= f.input :host, input_html: {value: "ec2-54-217-204-34.eu-west-1.compute.amazonaws.com"} %>
        <%= f.input :db_name, label: "DB Name", input_html: {value: "d819d1j6foia3a"} %>
        <%= f.input :user, input_html: {value: "dwhnoupzumazpk"} %>
        <%= f.input :password, as: :password, placeholder: "we promise we won't save it!" %>
        <%= f.input :project_id, :input_html => { :value => project.id }, as: :hidden %>
        <%= f.submit "Connect your Database now!", class: "btn-treehouse" %>
    </div>
<% end %>
