<div class="primary-container projects-container">
	<div class="wide-container flex-column">
		<div style="text-align: center;">
			<h2 style="margin-top: 100px; font-size: 36px;">
				Your Projects
			</h2>
		</div>
		<div class="content-wide">
			<div class="d-flex" style="justify-content: center; padding: 35px;">
				<%= link_to new_project_path do %>
					<button class="btn-seeql btn-seeql-lg" style="margin-top: 20px;">
						<i class="fas fa-plus-circle"></i> Add Project
					</button>
				<% end %>
			</div>

			<% @projects.sort_by! { |project| project.created_at } %>

			<!-- Project card grid -->
			<div class="card-grid">
				<% @projects.each do |project| %>
					<div class="card-project">
						<%= link_to project_path(project), style: "text-decoration: none;" do %>

							<!-- Project image -->
							<% if project.project_image.attached? %>
								<div class="card-image" style="background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('<%= cl_image_path project.project_image.key %>')">
									<h2><%= project.name.capitalize %></h2>
								</div>
							<% else %>
								<div class="card-image" style="background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('https://res.cloudinary.com/seeql/image/upload/v1585663675/Background_a0ecgr.png')">
									<h2><%= project.name.capitalize %></h2>
								</div>
							<% end %>

							<!-- Project collaborators -->
							<div class="card-project-infos">
								<div class="project-collaborators">
									<% project.collaborators.each do |collaborator| %>
										<div class="collaborator">
											<% if collaborator.user.avatar.attached? %>
												<div class="collaborator-avatar">
													<%= cl_image_tag collaborator.user.avatar.key %>
												</div>
											<% else %>
												<div class="collaborator-avatar">
													<%= image_tag("avatar.svg") %>
												</div>
											<% end %>
											<div class="collaborator-name">
												<%= collaborator.user.first_name %>
												<%= collaborator.user.last_name[0] %>.
											</div>
										</div>
									<% end %>
								</div>
							</div>
						<% end %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
