<%= render 'shared/collab_modal' %>
<%= render 'shared/db_modal' %>

<div class="primary-container">
  <%= link_to "< Go to project selection", projects_path, style: "display: block; color: white; margin-bottom: 10px;" %>

  <h2 class="mb-3">Connect your <%= @project.name %> project to a database and invite collaborators</h2>

  <div class="horizontal-btns">
    <% @project.databases.each do |database| %>
      <%= link_to database_path(database) do %>
          <button class="btn-treehouse">Go to <%= database.name %></button>
      <% end %>
    <% end %>
    <button class="btn-cancel" data-toggle="modal" data-target="#collabModal"><i class="fas fa-user-plus"></i> Add Collaborator</button>
    <button class="btn-cancel" data-toggle="modal" data-target="#dbModal"><i class="fas fa-user-plus"></i> Add Database</button>
  </div>

  <div class="notification">
    <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
    <div class="notification-content">
      <p><small>14th January</small></p>
      <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
    </div>

    <div class="notification-actions">
      <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
      <a href="#">Delete <i class="far fa-trash-alt"></i></a>
    </div>
  </div>

  <div class="notification">
    <img src='https://kitt.lewagon.com/placeholder/users/Eschults' class="avatar-large"/>
    <div class="notification-content">
      <p><small>9th January</small></p>
      <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
    </div>

    <div class="notification-actions">
      <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
      <a href="#">Delete <i class="far fa-trash-alt"></i></a>
    </div>
  </div>
</div>
