<div class="container w-50" style="position: absolute; top: 100px; left: 150px">
  <%= link_to " < Go to project selection", projects_path, style: "display: block; color: white; margin-bottom: 10px;"%>
  <h2 class="mb-3">Connect your <%= @project.name %> project to a database and invite collaborators</h2>

  <% @project.databases.each do |database| %>
    <%= link_to database_path(database) do %>
      <button class="btn-treehouse" style="margin-bottom: 30px" id="view-database-button">Select tables of <%= @project.name %></button>
    <% end %>
  <% end %>

  <div id="collaborators" class="bg collab border">
      <% if @project.collaborators.blank? %>
        example@example.com
      <% else %>
          <% @project.collaborators.each do |collaborator| %>
              <%= render 'collaborators/show', collaborator: collaborator %>
          <% end %>
      <% end %>
  </div>

  <div class="d-flex justify-content-between">
    <div class="add-collaborators" style="position: relative">
      <button type="button" class="btn-treehouse" id="add-collaborator-button"><i class="fas fa-user-plus"></i> Choose Collaborators</button>
      <%= render 'collaborators/form', project: @project, collaborator: @collaborator %>
    </div>
    <div class="add-database" style="position: relative">
      <button type="button" class="btn-treehouse" id="add-database-button"><i class="fas fa-database"></i> Add Database</button>
      <%= render 'form', new_database: Database.new, project: @project %>
    </div>
  </div>
</div>
