<%= render 'shared/collaborator_modal' %>
<%= render 'shared/collaborator_edit_modal' %>
<%= render 'shared/database_modal' %>

<div class="container" style="padding: 0 90px;">
    <div class="wide-container flex-column">
        <div style="text-align: center;">
            <h2 class="form-heading" style="margin-top: 100px;">
                Connect your
                <strong><span style="color: #5BC0BE;">
                    <%= @project.name %>
                </span></strong>
                project to a database and invite collaborators
            </h2>
        </div>

        <div class="content-wide" style="margin-top: 50px;">
            <div class="horizontal-btns">
                <button class="btn-seeql btn-seeql-darkgrey" data-toggle="modal" data-target="#collaborator-modal">
                    <i class="fas fa-user-plus"></i> Add Collaborator
                </button>
                <button class="btn-seeql btn-seeql-darkgrey" data-toggle="modal" data-target="#database-modal">
                    <i class="fas fa-database"></i> Add Database
                </button>
            </div>

                <div class="double-container" style="padding-top: 0; padding-bottom: 10px;">
                    <div class="collaborators-container">
                        <% @project.collaborators.each do |collaborator| %>
                            <div class="collaborator-card">
                                <% if collaborator.user.avatar.attached? %>
                                    <div class="avatar-large">
                                        <%= cl_image_tag collaborator.user.avatar.key %>
                                    </div>
                                <% else %>
                                    <div class="avatar-large">
                                        <%= image_tag("avatar.svg") %>
                                    </div>
                                <% end %>


                                <div class="collaborator-card-content">
                                    <p><small>Added: <%= collaborator.created_at.strftime("%B %d, %Y")%></small></p>
                                    <p><%= collaborator.user.email %></p>
                                </div>

                                <div class="collaborator-card-actions">
                                    <a href="#"><i class="fas fa-pencil-alt"></i>Edit</a>
                                    <%= link_to project_collaborator_path(@project, collaborator), method: :delete do %>
                                        <i class="far fa-trash-alt"></i>Delete
                                    <% end %>
                                </div>

                            </div>
                        <% end %>
                    </div>
                    <div class="database-button-container">
                        <% @project.databases.each do |database| %>
                            <%= link_to database_path(database) do %>
                                <button class="btn-seeql">
                                    Go to <%= database.name %>
                                </button>
                            <% end %>
                        <% end %>
                    </div>
                </div>

        </div>
    </div>
</div>
