<%= render 'shared/collab_modal' %>
<%= render 'shared/db_modal' %>

<div class="primary-container">
  <%= link_to "< Go to project selection", projects_path, style: "display: block; color: white; margin-bottom: 10px;" %>

  <h2 class="mb-3">Connect your <%= @project.name %> project to a database and invite collaborators</h2>

  <div class="horizontal-btns">
    <% @project.databases.each do |database| %>
      <%= link_to database_path(database) do %>
          <button class="btn-treehouse">Go to <%= database.name %></button>
      <% end %>
    <% end %>
    <button class="btn-cancel" data-toggle="modal" data-target="#collabModal"><i class="fas fa-user-plus"></i> Add Collaborator</button>
    <button class="btn-cancel" data-toggle="modal" data-target="#dbModal"><i class="fas fa-user-plus"></i> Add Database</button>
  </div>



  <div id="collaborators" class="bg collab border">
    <% if @project.collaborators.blank? %>
      example@example.com
    <% else %>
      <% @project.collaborators.each do |collaborator| %>
        <%= render 'collaborators/show', collaborator: collaborator %>
      <% end %>
    <% end %>
  </div>

  <!-- <div class="d-flex justify-content-between">
    <div class="add-collaborators" style="position: relative">
      <button type="button" class="btn-treehouse" id="add-collaborator-button"><i class="fas fa-user-plus"></i> Choose Collaborators</button>
      <%#= render 'collaborators/form', project: @project, collaborator: @collaborator %>
    </div>
    <div class="add-database" style="position: relative">
      <button type="button" class="btn-treehouse" id="add-database-button"><i class="fas fa-database"></i> Add Database</button>
      <%#= render 'form', new_database: Database.new, project: @project %>
    </div>
  </div> -->

</div>
