<%= render 'shared/collab_modal' %>
<%= render 'shared/db_modal' %>

<div class="primary-container">
    <!-- <div> -->
        <%= link_to projects_path do %>
            <button class="btn-seeql btn-seeql-lg" style="display: flex; align-items: center;">
                <i class="fas fa-caret-left" style="font-size: 28px;"></i>&nbsp;Back to projects
            </button>
        <% end %>
    <!-- </div> -->

  <h2 class="mb-3">Connect your <%= @project.name %> project to a database and invite collaborators</h2>

  <div class="horizontal-btns">
    <% @project.databases.each do |database| %>
      <%= link_to database_path(database) do %>
          <button class="btn-seeql btn-seeql-lg">
              Go to <%= database.name %>
          </button>
      <% end %>
    <% end %>
    <button class="btn-cancel" data-toggle="modal" data-target="#collabModal">
        <i class="fas fa-user-plus"></i> Add Collaborator
    </button>
    <button class="btn-cancel" data-toggle="modal" data-target="#dbModal">
        <i class="fas fa-database"></i> Add Database
    </button>
  </div>

  <% @project.collaborators.each do |collaborator| %>
    <div class="notification">
      <% if collaborator.user.avatar.attached? %>
        <div class="avatar-large">
          <%= cl_image_tag collaborator.user.avatar.key %>
        </div>
      <% else %>
        <div class="avatar-large">
          <%= image_tag("avatar.svg") %>
        </div>
      <% end %>


      <div class="notification-content">
        <p><small>Added: <%= collaborator.created_at.strftime("%B %d, %Y")%></small></p>
        <p><%= collaborator.user.email %></p>
      </div>

      <div class="notification-actions">
        <a href="#"><i class="fas fa-pencil-alt"></i> Edit</a>
        <a href="#"><i class="far fa-trash-alt"></i> Delete</a>
      </div>

    </div>
  <% end %>
