<div class='nested-fields'>
    <%= f.input :name %>
    <%= f.input :datatype, collection: Table::DATATYPES%>
    <%= f.input :edit, :input_html => { :value => true }, as: :hidden %>
    <%= f.input :edit, :input_html => { :value => true }, as: :hidden %>
    <%= link_to_remove_association "Remove column", f %>
</div>
