<% db = @database %>
<h2 class="project-name"><u><%= @project[0].name.capitalize %></u></h2>
<div class="container d-flex" style="height: calc(100vh - 60px); width: 100%">
  <% counter = 1 %>
  <% db.tables.each do |table| %>
    <div class="draggable" data-id="<%= @project[0].name + "-" + table.name %>" >
      <div class="tablecard">
        <div class="top text-center table-name" id="<%= table.name %>">
          <h3 class="table-name"><%= table.name.downcase %><h3>
        </div>
        <% table.columns.each do |column| %>
          <% counter += 1 %>
          <div class="column text-center" data-comment-list="<%= counter %>">
              <% unless column.comments.blank? %>
                <% column.comments.each do |comment| %>
                  <div id="comments" class="column comment-content">
                  <p class="subheader"><strong><%= comment.user.name %>: </strong><%= comment.content %></p>
                  <i class="fa fa-trash" aria-hidden="true"></i>
<%# please add the connection to delete comment into the trash icon %>
                  </div>
                <% end %>
              <% end %>
            <div class="comment-button" data-commentbutton="<%= counter %>"><i class="fas fa-bars"></i></i>
            </div>
            <div class="d-flex justify-content-between">
              <div class="column-comment column-name subheader"> <%= column.name %>
              </div>
              <div class="column-comment subheader"> <%= column.datatype %>
              </div>
            </div>
          </div>
          <div class="column comment hidden text-center subheader" data-comment="<%= counter %>" >
            <i class="fas fa-edit"></i>
<%# please add the edit coloumn link here %>
            <i class="fa fa-trash" aria-hidden="true"></i>
<%# please add the delete coloumn here %>
            <i class="fa fa-plus" aria-hidden="true"></i>
            <%= render 'comments/column_form', database: @database, column: column, comment: @comment, counter: counter, table: table %>
          </div>
          <% counter += 1 %>
        <% end %>
        <div class="bottom">
          <div class="comment-button text-center" data-commentbutton="<%= counter %>">
            <i class="fas fa-bars" aria-hidden="true"></i>
          </div>
          <div class="comment hidden" data-comment="<%= counter %>" data-comment-list="<%= counter %>">
            <% unless table.comments.blank? %>
              <% table.comments.each do |comment| %>
                <div id="comments" class="column comment-content">
                  <p><strong><%= comment.user.name %>: </strong><%= comment.content %></p>
                </div>
              <% end %>
            <% end %>
            <div class="comment-button" data-commentbutton="<%= counter %>">
              <i class="fas fa-bars"></i></i>
            </div>
            <div class="d-flex justify-content-between">
              <div class="column-comment"><%= @column.name %></div>
              <div class="column-comment"><%= @column.datatype %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% table = Table.new %>
  <div class="draggable">
    <div class="tablecard tool-table text-center">
      <h3 class="table-name">Tools</h3>
      <div class="comment-toggle subheader">
        <i class="fas fa-comment"></i>
        <p class="subheader">Show/ Hide all comments</p>
      </div>
      <div class="new-table-toggle subheader">
        <button id="btn-for-add-table" type="button" data-toggle="modal" data-target="#modalForTable">
          <i class="fa fa-plus" aria-hidden="true"></i>
          <p>Add a new Table</p>
        </button>
    </div>
  </div>
</div>
<div class="bgimg">
</div>



<!-- Modal for add table -->
<div class="modal fade" id="modalForTable" tabindex="-1" role="dialog" aria-labelledby="tableModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tableModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <div class= "add-table">
            <%= render 'tables/form', table: table%> </>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>