<% db = @database %>
<div class="project-name">
<h2 ><%= db.name.capitalize %></h2>
</div>
<div class="container d-flex" style="height: calc(100vh - 60px); width: 100%">
  <% counter = 1 %>
  <% db.tables.each do |table| %>
    <!-- Modal -->
    <div class="modal fade" id="create-column-<%= table.id %>" tabindex="-1" role="dialog" aria-labelledby="createColumn" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add a Column</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render 'columns/form', column_proxy: Column.new, table: table, counter: counter %>
        </div>
      </div>
    </div>
  </div>
  <% if table.display %>
  <div class="draggable" data-id="<%= @project[0].name + "-" + table.name %>" >
    <div class="tablecard">
      <div class="top text-center table-name" id="<%= table.name %>">
        <h3 class="table-name"><%= table.name.downcase %></h3>
      </div>
      <div class="tablecard-columns" data-table-id="<%= table.id %>">
        <% table.columns.each do |column| %>
        <% counter += 1 %>
        <div class="column text-center <%= 'edit' if column.edit %>" data-comment-list="<%= counter %>">
        <div class="comments-list" data-column-id="<%= column.id %>">
          <% unless column.comments.blank? %>
          <% column.comments.each do |comment| %>
          <div id="comments" class="column comment-content" data-comment-id="<%= comment.id %>">
            <p class="subheader"><strong><%= comment.user.name %>: </strong><%= comment.content %></p>
            <%= link_to comment_path(comment), method: :delete, remote: true do %>
            <i class="fa fa-trash" aria-hidden="true"></i>
            <% end %>
          </div>
          <% end %>
          <% end %>
          </div>
          <div class="comment-button text-right" data-commentbutton="<%= counter %>"><i class="fas fa-ellipsis-h"></i></i>
          </div>
          <div class="d-flex justify-content-between">
            <div class="column-comment column-name subheader"> <%= column.name %>
            </div>
            <div class="column-comment subheader"> <span class="hidden-text"><%= column.datatype %></span>
            </div>
          </div>
        </div>
        <div class="column comment hidden text-center subheader" data-comment="<%= counter %>" >
          <i class="fas fa-edit"></i>
          <%# please add the edit coloumn link here %>
          <%= link_to column_path(column), method: :delete, remote: true do %>
          <i class="fa fa-trash" aria-hidden="true"></i>
          <% end %>
          <%# please add the delete coloumn here %>
            <button type="button" data-toggle="modal" data-target="#create-comment-<%= table.id %>-<%= column.id %>">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
        </div>
        <% counter += 1 %>
        <% end %>
      </div>
    </div>
    <div class="bottom text-center">
      <button id="btn-for-add-table" type="button" data-toggle="modal" data-target="#create-column-<%= table.id %>">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
    </div>
  </div>
  <% end %>
  <% end %>
  <% table = Table.new %>
  <div class="draggable">
    <div class="tablecard tool-table text-center">
      <h3 class="table-name">Tools</h3>
      <div class="comment-toggle subheader text-left">
        <i class="fas fa-comment"></i>
        <p class="subheader">Show/ Hide all comments</p>
      </div>
      <div class="new-table-toggle subheader">
        <button id="btn-for-add-table" type="button" data-toggle="modal" data-target="#modalForTable">
          <i class="fa fa-plus" aria-hidden="true"></i>
          <p>Add a new Table</p>
        </button>
      </div>
    </div>
  </div>
  <div class="bgimg">
  </div>
  <!-- Modal for add table -->
  <div class="modal fade" id="modalForTable" tabindex="-1" role="dialog" aria-labelledby="tableModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="tableModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class= "add-table">
            <%= render 'tables/form', table: table%>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
<% counter = 1 %>
<% db.tables.each do |table| %>
  <% counter += 1 %>
  <% table.columns.each do |column| %>
  <% counter += 1 %>
    <!-- Modal -->
    <div class="modal fade" id="create-comment-<%= table.id %>-<%= column.id %>" tabindex="-1" role="dialog" aria-labelledby="createColumn" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add a Column</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= render 'comments/column_form', database: @database, column: column, comment: Comment.new, counter: counter, table: table %>
          </div>
        </div>
      </div>
    </div>
  <% counter += 1 %>
  <% end %>
<% end %>
