
<%= @database.name %>
<%# JSON.parse(@database.db_json).each do |key, value| %>
<% @database.tables.each do |table| %>
  <div class="container d-flex">
    <div class="card m-3">
      <table>
        <thead>
          <tr>
            <th><%= table.name %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% table.columns.each do |column| %>
          <tr>
            <td><%= column.name %></td>
          </tr>
            <% end %>
          </tr>
            <%= render 'comments/form', table: table, comment: @comment %>
        </tbody>
        <div id="comments">
          <% unless @database.tables.comments.blank? %>
            <% @databases.tables.comments.each do |comment| %>
              <%= comment.content %>
            <% end %>
          <% end %>
        </div>
      </table>
    </div>
  </div>
<% end %>
