
<%= @database.name %>
<%# JSON.parse(@database.db_json).each do |key, value| %>
<%= @database.tables.each do |table| %>
  <div class="container d-flex">
    <div class="card">
      <table>
        <thead>
          <tr>
            <th><%= table.name %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% table.columns.each do |column| %>
          <tr>
            <td><%= column.name %></td>
          </tr>
            <% end %>
          </tr>
          <tr>
            <%= render 'comments/form', table: table, comment: @comment %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
